REGISTRY_AGENT_PORTAL_API_VC_ISSUANCE_ENABLED=false
REGISTRY_AGENT_PORTAL_API_DB_HOSTNAME=localhost
REGISTRY_AGENT_PORTAL_API_DB_DBNAME=registrydb
REGISTRY_AGENT_PORTAL_API_CERTIFY_BASE_URL=http://commons-services-inji-certify/v1/certify
REGISTRY_AGENT_PORTAL_API_VC_AUTH_WINDOW_SECONDS=300
