{%- macro norm(v) -%}{{ (v or '') | string | trim | upper }}{%- endmacro -%}
{%- macro gender_enum(sex) -%}
{%- set s = norm(sex) -%}
{%- if s in ['MALE', 'M'] -%}MALE
{%- elif s in ['FEMALE', 'F'] -%}FEMALE
{%- elif s in ['OTHER', 'OTHERS'] -%}OTHERS
{%- else -%}UNKNOWN
{%- endif -%}
{%- endmacro -%}
{%- macro marital_enum(ms) -%}
{%- set s = norm(ms) | replace(' ', '_') -%}
{%- if s in ['SINGLE', 'MARRIED', 'DIVORCED', 'WIDOWED', 'SEPARATED', 'UNKNOWN'] -%}{{ s }}
{%- else -%}UNKNOWN
{%- endif -%}
{%- endmacro -%}
{# EmploymentStatusEnum: EMPLOYED, SELF_EMPLOYED, UNEMPLOYED, STUDENT, RETIRED, OTHER #}
{%- macro employment_enum(val) -%}
{%- set s = norm((val or '')) | replace(' ', '_') -%}
{%- if s == 'SELF_EMPLOYED' or ('SELF' in s and 'EMPLOY' in s) -%}SELF_EMPLOYED
{%- elif 'UNEMPLOY' in s -%}UNEMPLOYED
{%- elif s == 'EMPLOYED' -%}EMPLOYED
{%- elif 'STUDENT' in s -%}STUDENT
{%- elif 'RETIRED' in s -%}RETIRED
{%- elif s -%}OTHER
{%- endif -%}
{%- endmacro -%}
{%- macro education_level_norm(el) -%}
{%- set s = (el or '') | string | trim | lower | replace('-', '_') | replace(' ', '_') -%}
{%- if not s -%}{{ '' }}
{%- elif s in ['none', 'no_education', 'illiterate'] -%}NONE
{%- elif s in ['primary', 'elementary'] -%}PRIMARY
{%- elif s in ['lower_secondary', 'junior_secondary'] -%}LOWER_SECONDARY
{%- elif s in ['upper_secondary', 'secondary', 'high_school'] -%}UPPER_SECONDARY
{%- elif s in ['post_secondary', 'vocational', 'technical'] -%}POST_SECONDARY
{%- elif s in ['bachelor', 'bachelors', 'undergraduate'] -%}BACHELOR
{%- elif s in ['master', 'masters', 'graduate'] -%}MASTER
{%- elif s in ['doctorate', 'doctoral', 'phd'] -%}DOCTORATE
{%- else -%}{{ s | upper }}
{%- endif -%}
{%- endmacro -%}
{%- macro income_level_norm(il) -%}
{%- set s = (il or '') | string | trim | lower | replace(' ', '_') -%}
{%- if not s -%}{{ '' }}
{%- elif s in ['none', 'no_income'] -%}NONE
{%- elif s in ['low', 'lower'] -%}LOW
{%- elif s in ['lower_middle', 'lower-middle'] -%}LOWER_MIDDLE
{%- elif s in ['middle', 'mid', 'medium'] -%}MIDDLE
{%- elif s in ['upper_middle', 'upper-middle'] -%}UPPER_MIDDLE
{%- elif s in ['high', 'upper', 'top'] -%}HIGH
{%- else -%}{{ s | upper }}
{%- endif -%}
{%- endmacro -%}
{%- macro livelihood_from_text(t) -%}
{%- set s = norm(t) | replace(' ', '_') -%}
{%- if 'WAGE' in s or 'LABOUR' in s or 'LABOR' in s -%}WAGE_LABOR
{%- elif 'AGRIC' in s -%}AGRICULTURE
{%- elif 'LIVESTOCK' in s or 'GOAT' in s -%}LIVESTOCK
{%- elif 'FISH' in s -%}FISHING
{%- elif 'BUSINESS' in s or 'TRADE' in s -%}BUSINESS_TRADE
{%- elif 'SELF' in s and 'EMPLOY' in s -%}SELF_EMPLOYMENT
{%- elif 'GOVT' in s or 'GOVERNMENT' in s -%}GOVERNMENT_EMPLOYEE
{%- elif 'PRIVATE' in s -%}PRIVATE_SECTOR_EMPLOYEE
{%- elif 'UNEMPLOY' in s -%}UNEMPLOYED
{%- elif 'PENSION' in s -%}PENSION
{%- elif 'REMIT' in s -%}REMITTANCE
{%- elif s -%}OTHER
{%- endif -%}
{%- endmacro -%}
{%- macro domain_from_dci(label) -%}
{%- set s = (label or '') | string | trim | lower -%}
{%- if 'see' in s and 'ing' in s -%}VISION
{%- elif 'hear' in s -%}HEARING
{%- elif 'walk' in s or 'climb' in s or 'mobil' in s -%}MOBILITY
{%- elif 'remember' in s or 'concentrat' in s or 'cogn' in s -%}COGNITION
{%- elif 'self-care' in s or 'self care' in s -%}SELF_CARE
{%- elif 'communicat' in s -%}COMMUNICATION
{%- else -%}MOBILITY
{%- endif -%}
{%- endmacro -%}
{%- macro severity_from_dci(level) -%}
{%- set s = (level or '') | string | trim | lower -%}
{%- if s in ['none', 'no difficulty'] -%}NO_DIFFICULTY
{%- elif 'some' in s -%}SOME_DIFFICULTY
{%- elif 'lot' in s or 'moderate' in s -%}A_LOT_OF_DIFFICULTY
{%- elif 'unable' in s or 'cannot' in s -%}CANNOT_DO_AT_ALL
{%- else -%}SOME_DIFFICULTY
{%- endif -%}
{%- endmacro -%}
{%- macro rel_to_head(raw) -%}
{%- set s = norm(raw) | replace(' ', '_') -%}
{%- if s == 'SELF' -%}SELF
{%- elif s == 'SPOUSE' -%}SPOUSE
{%- elif s == 'CHILD' -%}CHILD
{%- elif s == 'PARENT' -%}PARENT
{%- elif s == 'SIBLING' -%}SIBLING
{%- elif 'OTHER' in s -%}OTHER_RELATIVE
{%- elif s -%}OTHER
{%- else -%}SELF
{%- endif -%}
{%- endmacro -%}
{%- macro residency_enum(raw) -%}
{%- set s = norm(raw) | replace(' ', '_') -%}
{%- if s == 'USUAL_MEMBER' -%}USUAL_MEMBER
{%- elif s == 'TEMPORARY' -%}TEMPORARY
{%- elif s == 'ABSENT' -%}ABSENT
{%- elif s -%}USUAL_MEMBER
{%- else -%}USUAL_MEMBER
{%- endif -%}
{%- endmacro -%}
{%- macro citizenship_enum(raw) -%}
{%- set s = norm(raw) | replace(' ', '_') -%}
{%- if s in ['CITIZEN', 'REFUGEE', 'IDP', 'RETURNEE', 'RESIDENT'] -%}{{ s }}
{%- elif s -%}CITIZEN
{%- else -%}CITIZEN
{%- endif -%}
{%- endmacro -%}
{%- macro displacement_enum(raw) -%}
{%- set s = norm(raw) | replace(' ', '_') -%}
{%- if s in ['HOST_COMMUNITY', 'IDP', 'RETURNEE', 'REFUGEE'] -%}{{ s }}
{%- elif s -%}HOST_COMMUNITY
{%- else -%}
{%- endif -%}
{%- endmacro -%}
{%- macro pastoralist_enum(raw) -%}
{%- set s = norm(raw) | replace(' ', '_') -%}
{%- if s in ['PASTORALIST', 'SEMI_PASTORALIST', 'SETTLED'] -%}{{ s }}
{%- elif s -%}SETTLED
{%- else -%}
{%- endif -%}
{%- endmacro -%}
{%- set m = expanded if expanded is defined else {} -%}
{%- set demo = m.get('demographic_info') if m.get('demographic_info') is mapping else {} -%}
{# demographic_info may be absent (e.g. CRVS Person): use flat name/sex/identifier on reg_record #}
{%- set name = demo.get('name', {}) if demo is mapping else {} -%}
{%- if (not name) or (name is mapping and not (name.get('given_name') or name.get('first_name') or name.get('surname') or name.get('last_name'))) -%}
  {%- set nm_root = m.get('name') -%}
  {%- if nm_root is mapping -%}
    {%- set name = nm_root -%}
  {%- endif -%}
{%- endif -%}
{%- set mids = m.get('member_identifier', []) -%}
{%- set root_ident = m.get('identifier', []) -%}
{%- set id_ns = namespace(uin='', nat='') -%}
{%- for x in mids if mids is iterable and mids is not string -%}
  {%- if (x.get('identifier_type') or '') | upper in ['UIN'] -%}
    {%- set id_ns.uin = x.get('identifier_value') or '' -%}
  {%- endif -%}
{%- endfor -%}
{%- if (not id_ns.uin) and root_ident is iterable and root_ident is not string -%}
  {%- for x in root_ident -%}
    {%- if x is mapping and (x.get('identifier_type') or '') | upper in ['UIN'] -%}
      {%- set id_ns.uin = x.get('identifier_value') or '' -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- set dids = demo.get('identifier', []) if demo is mapping else [] -%}
{%- if (not dids or ((dids | length) == 0)) and root_ident is iterable and root_ident is not string -%}
  {%- set dids = root_ident -%}
{%- endif -%}
{%- for x in dids if dids is iterable and dids is not string -%}
  {%- if (x.get('identifier_type') or '') | upper in ['NATIONALID', 'NATIONAL_ID', 'NATIONAL ID'] -%}
    {%- set id_ns.nat = x.get('identifier_value') or '' -%}
  {%- endif -%}
{%- endfor -%}
{%- if not id_ns.nat and dids and dids[0] is mapping -%}
  {%- set id_ns.nat = dids[0].get('identifier_value') or '' -%}
{%- endif -%}
{%- set uin = id_ns.uin or id_ns.nat -%}
{%- set nat = id_ns.nat or id_ns.uin -%}
{%- set phone_arr = demo.get('phone_number') if demo is mapping else [] -%}
{%- set p0 = (phone_arr[0] if phone_arr is iterable and phone_arr is not string and phone_arr | length > 0 else '') | string -%}
{%- set p1 = (phone_arr[1] if phone_arr is iterable and phone_arr is not string and phone_arr | length > 1 else '') | string -%}
{%- set langs = m.get('language_code', []) -%}
{%- set lang_str = '' -%}
{%- if langs is iterable and langs is not string -%}
  {%- set lang_str = langs | join(', ') -%}
{%- elif langs -%}
  {%- set lang_str = langs | string -%}
{%- endif -%}
{# additional_attributes: single dict (after G2PDciIndividualCreateEnricherService merge) or raw list from tests #}
{%- set raw_addl = m.get('additional_attributes') -%}
{%- if raw_addl is mapping -%}
  {%- set addl = raw_addl -%}
{%- elif raw_addl is iterable and raw_addl is not string and raw_addl | length > 0 and raw_addl[0] is mapping -%}
  {%- set addl = raw_addl[0] -%}
{%- else -%}
  {%- set addl = {} -%}
{%- endif -%}
{%- set rec_name = ((name.get('given_name', name.get('first_name', '')) ~ ' ' ~ (name.get('surname', name.get('last_name', '')))) | trim) -%}
{%- set sex_src = ((demo.get('sex') if demo is mapping else none) or m.get('sex')) -%}
{%- set birth_src = ((demo.get('birth_date') if demo is mapping else none) or m.get('birth_date')) -%}
{%- set primary_liv = livelihood_from_text(addl.get('primary_livelihood', '')) -%}
{%- set secondary_liv = livelihood_from_text(addl.get('secondary_livelihood', '')) -%}
{%- set emp = employment_enum(m.get('employment_status', '')) -%}
{%- set dsp = displacement_enum(addl.get('displacement_status')) -%}
{%- set pst = pastoralist_enum(addl.get('pastoralist_classification')) -%}
{%- set dis_rows = m.get('disability_info', []) -%}
{%- set sid = m.get('self_id_disability') -%}
{%- set dstatus = 'UNKNOWN' -%}
{%- if sid == 1 or sid == '1' -%}
  {%- set dstatus = 'YES' -%}
{%- elif sid == 0 or sid == '0' -%}
  {%- set dstatus = 'NO' -%}
{%- elif sid is not none and sid != '' -%}
  {%- set dstatus = 'UNKNOWN' -%}
{%- elif m.get('is_disabled') is sameas true or m.get('is_disabled') == 1 or m.get('is_disabled') == '1' or ((m.get('is_disabled') | string | lower) == 'true') -%}
  {%- set dstatus = 'YES' -%}
{%- elif m.get('is_disabled') is sameas false or m.get('is_disabled') == 0 or m.get('is_disabled') == '0' or ((m.get('is_disabled') | string | lower) == 'false') -%}
  {%- set dstatus = 'NO' -%}
{%- elif dis_rows is iterable and dis_rows is not string and dis_rows | length > 0 -%}
  {%- set dstatus = 'YES' -%}
{%- endif -%}
{%- set occ = (m.get('occupation') or '') | string | trim -%}
{%- if not occ and addl.get('occupation') -%}
  {%- set occ = addl.get('occupation') | string | trim -%}
{%- endif -%}
{# Death: CRVS uses death_place (geo id); death_date is optional legacy. Either → INACTIVE + reason Death. #}
{%- set death_place_raw = m.get('death_place') -%}
{%- if death_place_raw is none or (death_place_raw | string | trim) == '' -%}
  {%- set death_place_raw = demo.get('death_place') if demo is mapping else none -%}
{%- endif -%}
{%- if death_place_raw is none or (death_place_raw | string | trim) == '' -%}
  {%- set death_place_raw = addl.get('death_place') -%}
{%- endif -%}
{%- set death_place_str = (death_place_raw | string | trim) if death_place_raw is not none and (death_place_raw | string | trim) != '' else '' -%}
{%- set death_src = m.get('death_date') -%}
{%- if death_src is none or (death_src | string | trim) == '' -%}
  {%- set death_src = demo.get('death_date') if demo is mapping else none -%}
{%- endif -%}
{%- if death_src is none or (death_src | string | trim) == '' -%}
  {%- set death_src = addl.get('death_date') -%}
{%- endif -%}
{%- set death_date_str = (death_src | string | trim).split('T')[0] if death_src is not none and (death_src | string | trim) != '' else '' -%}
{%- set has_death_date = death_date_str | length > 0 -%}
{%- set has_death = (death_place_str | length > 0) or has_death_date -%}
{%- set hdr_record_status = 'INACTIVE' if has_death else 'ACTIVE' -%}
{%- set inc_il = income_level_norm(m.get('income_level')) -%}
{%- set csi_raw = m.get('coping_strategies_index') -%}
{%- set has_csi = csi_raw is not none and (csi_raw | string | trim) != '' -%}
{%- set hh_head_name = (addl.get('household_head_name') or '') | string -%}
{%- set hh_headship_info = (addl.get('household_head_headship_type') or addl.get('headship_type') or '') | string -%}
{%- set hh_roster_total = addl.get('household_size_total') -%}
{%- set hh_roster_adults = addl.get('household_size_adults') -%}
{%- set hh_roster_u5 = addl.get('household_size_children_u5') -%}
{%- set hh_roster_school = addl.get('household_size_school_age') -%}
{%- set hh_roster_elderly = addl.get('household_size_elderly') -%}
{%- set hh_elderly_pres = addl.get('elderly_member_present') -%}
{%- set hh_roster_headship = (addl.get('household_roster_headship_type') or addl.get('headship_type') or '') | string -%}
{%- set h_dw = (addl.get('dwelling_type') or '') | string -%}
{%- set h_rf = (addl.get('roof_material') or '') | string -%}
{%- set h_wm = (addl.get('wall_material') or '') | string -%}
{%- set h_fm = (addl.get('floor_material') or '') | string -%}
{%- set h_ts = (addl.get('tenure_status') or '') | string -%}
{%- set h_ws = (addl.get('water_source_type') or '') | string -%}
{%- set h_wd = addl.get('water_distance_minutes') -%}
{%- set h_sn = (addl.get('sanitation_type') or '') | string -%}
{%- set h_lt = (addl.get('lighting_source') or '') | string -%}
{%- set h_cf = (addl.get('cooking_fuel_type') or '') | string -%}
{%- set h_rm = addl.get('rooms_count') -%}
{%- set h_oc = addl.get('overcrowding_indicator') -%}
{%- set mob_phone = m.get('mobile_phone_type') -%}
{%- if mob_phone is none -%}
  {%- set mob_phone = addl.get('mobile_phone_type') -%}
{%- endif -%}
{# --- sparse section flags --- #}
{%- set dis_ns = namespace(c=0) -%}
{%- if dis_rows is iterable and dis_rows is not string -%}
  {%- for row in dis_rows -%}
    {%- if row is mapping -%}
      {%- set dis_ns.c = dis_ns.c + 1 -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- set scores_rows = m.get('scores') or addl.get('scores') or [] -%}
{%- set has_scores = scores_rows is iterable and scores_rows is not string and scores_rows | length > 0 -%}
{%- set prog_rows = m.get('program_enrolments') or m.get('programs') or [] -%}
{%- set has_program = prog_rows is iterable and prog_rows is not string and prog_rows | length > 0 -%}
{%- set shock_rows = m.get('shocks') or addl.get('shocks') or [] -%}
{%- set has_shocks = shock_rows is iterable and shock_rows is not string and shock_rows | length > 0 -%}
{%- set livestock_rows = m.get('livestock') or m.get('livestock_details') or addl.get('livestock') or [] -%}
{%- set has_livestock = livestock_rows is iterable and livestock_rows is not string and livestock_rows | length > 0 -%}
{%- set has_header = ((rec_name | string | trim) | length > 0) or ((uin | string | trim) | length > 0) or has_death -%}
{%- set has_contact = ((p0 | string | trim) | length > 0) or ((p1 | string | trim) | length > 0) or (((addl.get('contact_person_name') or '') | string | trim) | length > 0) or (((addl.get('preferred_contact_method') or '') | string | trim) | length > 0) -%}
{%- set has_demographic = (
  ((name.get('given_name') if name is mapping else none) or (name.get('first_name') if name is mapping else none)
    or (name.get('surname') if name is mapping else none) or (name.get('last_name') if name is mapping else none)
    or (name.get('second_name') if name is mapping else none) or (name.get('middle_name') if name is mapping else none))
  or (demo.get('birth_date') if demo is mapping else none)
  or m.get('birth_date')
  or (demo.get('sex') if demo is mapping else none)
  or m.get('sex')
  or m.get('marital_status')
  or m.get('education_level')
  or ((lang_str | string | trim) | length > 0)
  or m.get('registration_date')
  or (demo.get('registration_date') if demo is mapping else none)
  or addl.get('citizenship_category')
) -%}
{%- set has_disabilities = dis_ns.c > 0 -%}
{%- set has_hh_info = ((hh_head_name | string | trim) | length > 0) or ((hh_headship_info | string | trim) | length > 0) -%}
{%- set has_roster = (
  (hh_roster_total is not none and (hh_roster_total | string | trim) != '')
  or (hh_roster_adults is not none and (hh_roster_adults | string | trim) != '')
  or (hh_roster_u5 is not none and (hh_roster_u5 | string | trim) != '')
  or (hh_roster_school is not none and (hh_roster_school | string | trim) != '')
  or (hh_roster_elderly is not none and (hh_roster_elderly | string | trim) != '')
  or (hh_elderly_pres is sameas true or hh_elderly_pres == 1 or hh_elderly_pres == '1')
  or ((hh_roster_headship | string | trim) | length > 0)
) -%}
{%- set has_dweling = (
  ((h_dw | string | trim) | length > 0)
  or ((h_rf | string | trim) | length > 0)
  or ((h_wm | string | trim) | length > 0)
  or ((h_fm | string | trim) | length > 0)
  or ((h_ts | string | trim) | length > 0)
  or ((h_ws | string | trim) | length > 0)
  or ((h_sn | string | trim) | length > 0)
  or ((h_lt | string | trim) | length > 0)
  or ((h_cf | string | trim) | length > 0)
  or (h_wd is not none and (h_wd | string | trim) != '')
  or (h_rm is not none and (h_rm | string | trim) != '')
  or (h_oc is not none and (h_oc | string | trim) != '')
) -%}
{%- set rid_val = (addl.get('rid') or '') | string | trim -%}
{%- set has_identifier = ((nat | string | trim) | length > 0) or (rid_val | length > 0) -%}
{%- set pa = addl.get('productive_assets') -%}
{%- set pa_nonempty = pa is iterable and pa is not string and ((pa | list) | length > 0) -%}
{%- set has_land = (
  (addl.get('land_access') is sameas true or addl.get('land_access') == 1 or addl.get('land_access') == '1')
  or (addl.get('land_size') is not none and (addl.get('land_size') | string | trim) != '')
  or pa_nonempty
) -%}
{%- set geo_j = addl.get('geo_code_hierarchy_json') -%}
{%- set lat_v = demo.get('latitude') if demo is mapping else none -%}
{%- if lat_v is none or (lat_v | string | trim) == '' -%}
  {%- set lat_v = m.get('latitude') -%}
{%- endif -%}
{%- set lon_v = demo.get('longitude') if demo is mapping else none -%}
{%- if lon_v is none or (lon_v | string | trim) == '' -%}
  {%- set lon_v = m.get('longitude') -%}
{%- endif -%}
{%- set has_location = (
  (((addl.get('geo_lowest_level_value_id') or '') | string | trim) | length > 0)
  or (geo_j is mapping and geo_j | length > 0)
  or (geo_j is string and (geo_j | trim | length > 0))
  or (((addl.get('address_line_1') or '') | string | trim) | length > 0)
  or (((addl.get('address_line_2') or '') | string | trim) | length > 0)
  or (((addl.get('postal_code') or '') | string | trim) | length > 0)
  or (lat_v is not none and (lat_v | string | trim) != '')
  or (lon_v is not none and (lon_v | string | trim) != '')
) -%}
{%- set inc_nonempty = ((inc_il | string | trim) | length > 0) -%}
{%- set has_livelihood = primary_liv or secondary_liv or emp or ((occ | string | trim) | length > 0) or inc_nonempty or has_csi or (mob_phone is not none and (mob_phone | string | trim) != '') -%}
{%- set rel_raw = ((addl.get('relationship_to_head') or '') | string | trim) -%}
{%- set res_raw = ((addl.get('residency_status') or '') | string | trim) -%}
{%- set dep_true = addl.get('dependency_indicator') is sameas true or addl.get('dependency_indicator') == 1 or ((addl.get('dependency_indicator') | string | lower) == 'true') -%}
{%- set has_relationship = (rel_raw | length > 0) or (res_raw | length > 0) or dep_true -%}
{%- set has_vulnerability = (
  dstatus != 'UNKNOWN'
  or dsp
  or pst
  or m.get('orphanhood_flag') in [true, 1, '1', 'true', 'True', 'TRUE']
  or m.get('chronic_illness_flag') in [true, 1, '1', 'true', 'True', 'TRUE']
  or m.get('plw_status') in [true, 1, '1', 'true', 'True', 'TRUE']
  or m.get('high_mobility_indicator') in [true, 1, '1', 'true', 'True', 'TRUE']
) -%}
{%- set ej = namespace(first=true) -%}
{
{%- if has_scores %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "computation_scores": {{ scores_rows | list | tojson }}
{%- endif %}
{%- if has_header %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "header_info": [
    {
      "record_status": {{ hdr_record_status | tojson }},
{%- if has_death %}
      "record_status_reason": "Death",
{%- endif %}
      "record_name": {{ rec_name | tojson }}
    }
  ]
{%- endif %}
{%- if has_contact %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_contact_details": [
    {
      "primary_phone": {{ p0 | tojson }},
      "alternate_phone": {{ p1 | tojson }},
      "contact_person_name": {{ (addl.get('contact_person_name') or '') | string | tojson }},
      "preferred_contact_method": {{ ((addl.get('preferred_contact_method') or 'CALL') | string) | tojson }}
    }
  ]
{%- endif %}
{%- if has_demographic %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_demographic_details": [
    {
      "first_name": {{ (name.get('given_name') or name.get('first_name') or '') | tojson }},
      "middle_name": {{ (name.get('second_name') or name.get('middle_name') or '') | tojson }},
      "last_name": {{ (name.get('surname') or name.get('last_name') or '') | tojson }},
      "alias_names": [],
      "birth_date": {{ ((birth_src or '') | string).split('T')[0] | tojson }},
      "gender": {{ gender_enum(sex_src) | tojson }},
      "marital_status": {{ marital_enum(m.get('marital_status')) | tojson }},
      "citizenship_category": {{ citizenship_enum(addl.get('citizenship_category')) | tojson }},
      "education_level": {{ education_level_norm(m.get('education_level')) | tojson }},
      "language_code": {{ lang_str | tojson }},
      "registration_date": {{ ((m.get('registration_date') or demo.get('registration_date') or '') | string).split('T')[0] | tojson }}
    }
  ]
{%- endif %}
{%- if has_disabilities %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_disabilities": [
  {%- set dis_emit = namespace(first=true) -%}
  {%- for row in dis_rows -%}
    {%- if row is mapping -%}
    {%- if not dis_emit.first -%},{%- endif -%}
    {%- set dis_emit.first = false -%}
    {
      "disability_domain": {{ domain_from_dci(row.get('functional_limitation_type')) | tojson }},
      "disability_severity": {{ severity_from_dci(row.get('functional_limitations_level')) | tojson }}
    }
    {%- endif -%}
  {%- endfor -%}
  ]
{%- endif %}
{%- if has_hh_info %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_household_info": [
    {
      "household_head_name": {{ hh_head_name | tojson }},
      "headship_type": {{ hh_headship_info | tojson }}
    }
  ]
{%- endif %}
{%- if has_roster %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_household_roster": [
    {
      "household_size_total": {% if hh_roster_total is not none and (hh_roster_total | string | trim) != '' %}{{ hh_roster_total | int | tojson }}{% else %}null{% endif %},
      "household_size_adults": {% if hh_roster_adults is not none and (hh_roster_adults | string | trim) != '' %}{{ hh_roster_adults | int | tojson }}{% else %}null{% endif %},
      "household_size_children_u5": {% if hh_roster_u5 is not none and (hh_roster_u5 | string | trim) != '' %}{{ hh_roster_u5 | int | tojson }}{% else %}null{% endif %},
      "household_size_school_age": {% if hh_roster_school is not none and (hh_roster_school | string | trim) != '' %}{{ hh_roster_school | int | tojson }}{% else %}null{% endif %},
      "household_size_elderly": {% if hh_roster_elderly is not none and (hh_roster_elderly | string | trim) != '' %}{{ hh_roster_elderly | int | tojson }}{% else %}null{% endif %},
      "elderly_member_present": {% if hh_elderly_pres is sameas true or hh_elderly_pres == 1 or hh_elderly_pres == '1' or ((hh_elderly_pres | string | lower) == 'true') %}true{% elif hh_elderly_pres is sameas false or hh_elderly_pres == 0 or hh_elderly_pres == '0' or ((hh_elderly_pres | string | lower) == 'false') %}false{% else %}false{% endif %},
      "headship_type": {{ hh_roster_headship | tojson }}
    }
  ]
{%- endif %}
{%- if has_dweling %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_houshold_dweling_services": [
    {
      "dwelling_type": {{ h_dw | tojson }},
      "roof_material": {{ h_rf | tojson }},
      "wall_material": {{ h_wm | tojson }},
      "floor_material": {{ h_fm | tojson }},
      "tenure_status": {{ h_ts | tojson }},
      "water_source_type": {{ h_ws | tojson }},
      "water_distance_minutes": {% if h_wd is not none and (h_wd | string | trim) != '' %}{{ h_wd | int | tojson }}{% else %}null{% endif %},
      "sanitation_type": {{ h_sn | tojson }},
      "lighting_source": {{ h_lt | tojson }},
      "cooking_fuel_type": {{ h_cf | tojson }},
      "rooms_count": {% if h_rm is not none and (h_rm | string | trim) != '' %}{{ h_rm | int | tojson }}{% else %}null{% endif %},
      "overcrowding_indicator": {% if h_oc is not none and (h_oc | string | trim) != '' %}{{ h_oc | float | tojson }}{% else %}null{% endif %}
    }
  ]
{%- endif %}
{%- if has_identifier %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_identifier": [
    {
      "foundational_id": {{ nat | tojson }},
      "rid": {{ rid_val | tojson }}
    }
  ]
{%- endif %}
{%- if has_land %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_land": [
    {
      "land_access": {% if addl.get('land_access') is sameas true or addl.get('land_access') == 1 or addl.get('land_access') == '1' %}true{% elif addl.get('land_access') is sameas false or addl.get('land_access') == 0 %}false{% else %}false{% endif %},
      "land_size": {% if addl.get('land_size') is not none and (addl.get('land_size') | string | trim) != '' %}{{ addl.get('land_size') | float | tojson }}{% else %}null{% endif %},
      "productive_assets": {% if pa_nonempty %}{{ pa | list | tojson }}{% else %}[]{% endif %}
    }
  ]
{%- endif %}
{%- if has_livestock %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_livestock": {{ livestock_rows | list | tojson }}
{%- endif %}
{%- if has_location %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_location_details": [
    {
      "geo_lowest_level_value_id": {{ (addl.get('geo_lowest_level_value_id') or '') | string | tojson }},
      "geo_code_hierarchy_json": {% if geo_j is mapping %}{{ geo_j | tojson }}{% elif geo_j %}{{ geo_j | string | tojson }}{% else %}null{% endif %},
      "address_line_1": {{ (addl.get('address_line_1') or '') | string | tojson }},
      "address_line_2": {{ (addl.get('address_line_2') or '') | string | tojson }},
      "postal_code": {{ (addl.get('postal_code') or '') | string | tojson }},
      "latitude": {% if lat_v is not none and (lat_v | string | trim) != '' %}{{ lat_v | float | tojson }}{% else %}null{% endif %},
      "longitude": {% if lon_v is not none and (lon_v | string | trim) != '' %}{{ lon_v | float | tojson }}{% else %}null{% endif %}
    }
  ]
{%- endif %}
{%- if has_program %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_program": {{ prog_rows | list | tojson }}
{%- endif %}
{%- if has_shocks %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "individual_shocks": {{ shock_rows | list | tojson }}
{%- endif %}
{%- if has_livelihood %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "livelihood_and_employment": [
    {
      "primary_livelihood": {% if primary_liv %}{{ primary_liv | tojson }}{% else %}null{% endif %},
      "secondary_livelihood": {% if secondary_liv %}{{ secondary_liv | tojson }}{% else %}null{% endif %},
      "employment_status": {% if emp %}{{ emp | tojson }}{% else %}null{% endif %},
      "occupation": {{ occ | tojson }},
      "income_level": {{ inc_il | tojson }},
      "coping_strategies_index": {% if has_csi %}{{ csi_raw | tojson }}{% else %}null{% endif %},
      "mobile_phone_type": {% if mob_phone is not none and (mob_phone | string | trim) != '' %}{{ mob_phone | string | tojson }}{% else %}null{% endif %}
    }
  ]
{%- endif %}
{%- if has_relationship %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "relationship_to_household_head": [
    {
      "relationship_to_head": {{ rel_to_head(addl.get('relationship_to_head')) | tojson }},
      "dependency_indicator": {% if dep_true %}true{% else %}false{% endif %},
      "residency_status": {{ residency_enum(addl.get('residency_status')) | tojson }}
    }
  ]
{%- endif %}
{%- if has_vulnerability %}
  {%- if not ej.first -%},{%- endif -%}
  {%- set ej.first = false -%}
  "vulnerability_and_inclusion": [
    {
      "disability_status": {{ dstatus | tojson }},
      "orphanhood_flag": {{ (m.get('orphanhood_flag') in [true, 1, '1', 'true', 'True', 'TRUE']) | tojson }},
      "chronic_illness_flag": {{ (m.get('chronic_illness_flag') in [true, 1, '1', 'true', 'True', 'TRUE']) | tojson }},
      "displacement_status": {% if dsp %}{{ dsp | tojson }}{% else %}null{% endif %},
      "pastoralist_classification": {% if pst %}{{ pst | tojson }}{% else %}null{% endif %},
      "high_mobility_indicator": {{ (m.get('high_mobility_indicator') in [true, 1, '1', 'true', 'True', 'TRUE']) | tojson }},
      "plw_status": {{ (m.get('plw_status') in [true, 1, '1', 'true', 'True', 'TRUE']) | tojson }}
    }
  ]
{%- endif %}
}
