# Database Config
REGISTRY_BENE_PORTAL_API_DB_USERNAME="postgres"
REGISTRY_BENE_PORTAL_API_DB_PASSWORD="password"
REGISTRY_BENE_PORTAL_API_DB_HOSTNAME="localhost"
REGISTRY_BENE_PORTAL_API_DB_PORT=5432
REGISTRY_BENE_PORTAL_API_DB_DBNAME="registry_db"

# MinIO Config
REGISTRY_BENE_PORTAL_API_MINIO_ENDPOINT="localhost:9000"
REGISTRY_BENE_PORTAL_API_MINIO_ACCESS_KEY="admin"
REGISTRY_BENE_PORTAL_API_MINIO_SECRET_KEY="secret"
REGISTRY_BENE_PORTAL_API_MINIO_SECURE="false"
REGISTRY_BENE_PORTAL_API_DOCUMENT_STORAGE_BACKEND="minio"